<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{> om_oss}}
    
    <ul> 
    <a href="/">hem</a>
    <a href="/om_oss">om oss</a>
    </ul>

    <h1>det här är static för hbs</h1>
    
</body>
</html>